@font-face {
  font-family: 'Pokemon_GB';
  src: URL('Pokemon_GB.ttf') format('truetype');
}

body {
  height: 100vh;
  margin: 0;
  font-family: Pokemon_GB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: url("./Styles/background.png");
   background-repeat: no-repeat;
   background-position: center;
  ;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}
